<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about us.css">
    <title>About Us</title>
    <a  href="/">Back</a>
</head>
<body>
      <main class="main-grid">
              <div class="head">
              <h1 class="page-title">About us</h1>
              <p class="subtitle">You imagine, We make it happen!.</p>
            </div>             
        </div>
              
        
              <div class="main-text">
                  <h2 class="section-title">History</h2>
                  <p> The GiGi Events PH started on November 18, 2020 by Christine Arimas along with Kailah Joy Castillo and Levoker Obial.</p>
              
                  <p> They created a business that can be an associate with the business of her husband the PLAYOUT Soundsyem & Lights rental.</p>
                
                  <h2 class="section-title sub">Owners </h2>
                  <p>Christine Arimas</p>
                  <p>Kailah Joy Castillo</p>
                  <p>Levoker Obial</p>

                  <h2 class="section-title sub">Offers </h2>
                  <p>We offer venue styling, event planning, and coordination,</p>
                  <p>lights and sount system</p>
              </div>
        
      </main>
      
      <footer class="footer main-grid">
        <div class="footer-text">
          <p class="end">GiGi Events PH. Event styling. Dicor. Backdrop. Theme. Mood. Design.</p>
        </div>
      </footer>
    </body>
</body>


</html>
