<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Services</title>
    <link rel="stylesheet" href="css/galllery.css">

</head>
<body>
    <div class="background"></div>
<a  href="/">Back</a>


<h1><center>Gallery of Events</center></h1>
    <div class="container">
        <div class="box">
            <img src="img/christianingreal.jpg" >
         
            <a  href="/christening">
            <h2>
                CHRISTENING
            </h2>
            </a>
        </div>
        <div class="box">
            <img src="img/wedding.jpg">
           
            <a  href="/wedding">
            <h2>
                WEDDING
            </h2>
            </a>
        </div>
        <div class="box">
            <img src="img/bday.jpg">
            
            <a  href="/birthday">
            
            <h2>BIRTHDAY
            </h2>
            </a>
        </div>
        <div class="box">
            <img src="img/d1.jpg">
            <a  href="/debut">
            <h2>
                DEBUT
            </h2>
            </a>
        </div>

        <div class="box">
            <img src="img/custom.jpg">
            <a  href="/others">
            <h2>
                OTHERS
            </h2>
            </a>
        </div>
    </div>


</body>
</html>