<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Services</title>
    <link rel="stylesheet" href="css/services.css">

</head>
<body>
<a  href="/">Back</a>

<h1><center>Terms and Conditions</center></h1>
                <div class="tc">
                <div class="box">
             <img src="img/0001.jpg" >
                 </div>

                 <div class="box">
                     <img src="img/0002.jpg" >
                 </div>
                 
                 <div class="box">
                    <img src="img/0003.jpg" >
                </div>
                
                <div class="box">
                    <img src="img/0004.jpg" >
                </div>

                </div>

            <h1><center>Package Deals</center></h1>
        <div class="ctn">
            <div class="box">
                <img src="img/package3.jpg" >
                <br>
                <br>
                <h2>
                    Package 1
                </h2>
            </div>
            <div class="box">
                <img src="img/package4.jpg" >
                <br>
                <br>
                <h2>
                    Package 2
                </h2>
            </div>

        </div>
        <div class="container1">
            <div class="box">
                <img src="img/package8.jpg" >
                <br>
                <br>
                <h2>
                    Package 3
                </h2>
            </div>
        </div>

        <h1><center>Wedding Package Deals</center></h1>
    <div class="container">
        <div class="box">
            <img src="img/package1.jpg" >
            <br>
            <br>
            <h2>
                Package 1
            </h2>
        </div>
        <div class="box">
            <img src="img/package2.jpg">
            <br>
            <br>
            <h2>
                Package 2
            </h2>
        </div>
        <div class="box">
            <img src="img/package5.jpg">
            <br>
            <br>
            <h2>
                Package 3
            </h2>
        </div>
        <div class="box">
            <img src="img/package 6.jpg">
            <br>
            <br>
            <h2>
                Package 4
            </h2>
        </div>
        <div class="box">
            <img src="img/package 7.jpg">
            <br>
            <br>
            <h2>
                Package 5
            </h2>
        </div>
    </div>


</body>
</html>